* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #1e1e1e;
  color: #fff;
}

header {
  background: #333;
  padding: 15px 0;
  text-align: center;
}

header h1 {
  color: #fff;
  margin-bottom: 10px;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 15px;
}

header nav a {
  color: white;
  text-decoration: none;
}

section {
  padding: 20px;
  margin: 20px 0;
}

h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
}

.event {
  margin-bottom: 20px;
  position: relative;
}

.event .year {
  background-color: #00f;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  display: inline-block;
  font-size: 1.2em;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 20px;
  top: 0;
  height: 100%;
  width: 4px;
  background: linear-gradient(to bottom, #3498db, #9b59b6);
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

form label {
  margin: 10px 0 5px;
}

form input, form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

button {
  padding: 10px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 20px;
  background: #333;
  color: white;
}

@media (max-width: 600px) {
  header nav ul {
      display: block;
  }

  header nav ul li {
      display: block;
      margin: 10px 0;
  }

  .timeline {
      margin-left: 20px;
  }
}